In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import xgboost

In [2]:
header_list = ['age', 'workclass', 'fnlwgt',
               'education', 'education-num',
               'marital-status', 'occupation',
               'relationship', 'race', 'sex',
               'capital-gain', 'capital-loss', 
               'hours-per-week', 'native-country', 
               'income']

In [5]:
census = pd.read_csv("/home/mpa/Downloads/adult2.csv", 
                   names = header_list,
                    delimiter = ',',
                    na_values = ' ?')

In [6]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16282 entries, 0 to 16281
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16282 non-null  object
 1   workclass       15318 non-null  object
 2   fnlwgt          16281 non-null  float64
 3   education       16281 non-null  object
 4   education-num   16281 non-null  float64
 5   marital-status  16281 non-null  object
 6   occupation      15315 non-null  object
 7   relationship    16281 non-null  object
 8   race            16281 non-null  object
 9   sex             16281 non-null  object
 10  capital-gain    16281 non-null  float64
 11  capital-loss    16281 non-null  float64
 12  hours-per-week  16281 non-null  float64
 13  native-country  16007 non-null  object
 14  income          16281 non-null  object
dtypes: float64(5), object(10)
memory usage: 1.9+ MB